body,
html {
      margin: 0;
      padding: 0;
 }

h2 {
  font-family: cursive;
}

.mapStyle {
    width: 100%;
    display: block;
    height: 100%;
    position: absolute;
  }

#city-info {
        width: 50%;
        padding: 0 5% 0 0;
        position: absolute;
        background: #d6acc5;
  }

.citylist {
        list-style-type: none;
        margin: 0;
        padding: 0;
  }

.citynames {
        cursor: pointer;
        padding: 5px 5px;
  }

#pano {
        width: 200px;
        height: 200px;
  }

#search-box {
        background-color: #eed7d7;
        border: 1px solid black;
        padding: 5px 5px;
  }

.city-data {
        color: black;
        font-weight: bold;
        font-family: cursive;
        display: block;
        padding: 1px 0 5px 0;
  }

 .map-errors, .Wiki-errors {
        padding: 0 2%;
        font-weight: bold;
        background: olive;
        line-height: 2;
        color: white;
  }

.toggle-arrow {
        cursor: pointer;
        position: absolute;
        top: 30px;
        right: 5%;
  }

.toggled {
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
  }

@media screen and (min-width: 746px) {
    #map {
          width: 100%;
      }
    #city-info{
          width: 15%;
          padding: 0 5% 0 0;
          position: absolute;
          background: #d6acc5;

     }
 }
